:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.form-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  padding: 32px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.form {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
}
.register {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.content {
  height: max-content;
  min-width: min-content;
}
.hyperlink {
  color: var(--ig-primary-400);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.input {
  height: max-content;
  min-width: min-content;
}
.checkbox {
  width: max-content;
  height: max-content;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
