<div class="column-layout form-container">
  <h4 class="content">
    Login
  </h4>
  <div class="column-layout form">
    <igx-input-group type="border" class="input">
      <input type="text" required igxInput />
      <label igxLabel>Email / username</label>
    </igx-input-group>
    <igx-input-group type="border" class="input">
      <input type="password" required igxInput />
      <label igxLabel>Password</label>
    </igx-input-group>
    <div class="row-layout group">
      <igx-checkbox labelPosition="after" class="checkbox">
        Remember me
      </igx-checkbox>
      <a target="_blank" class="ig-typography__body-2 hyperlink">
        Forgot your password?
      </a>
    </div>
    <button igxButton="contained" type="button" igxRipple class="button">
      Sign in
    </button>
  </div>
  <div class="row-layout register">
    <p class="ig-typography__body-2 content">
      Don't have an account?
    </p>
    <a target="_blank" class="ig-typography__body-2 hyperlink">
      Create new account
    </a>
  </div>
</div>
